@model string;



<div style="position: fixed; right: 15px; top: 73px" class="text-white">
    <a class="btn btn-success" asp-controller="@Model" asp-action="Create"><i class="bi bi-plus-circle"></i>Add new </a>

</div>